body {
   width: 500px;
   
}

header {
    display: flex;
    background-color: rgba(223, 131, 45, 0.884);
    height: 100px;
    width: 450px;
    border-radius:10px;
}

h1 {
    text-align: center;
    margin-left: 100px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img {
    margin-left: 30px;
    padding: 10px;

}

h2 {
    font-family: 'Nunito Sans', sans-serif;

}

main {
    margin-bottom: 50px;
    font-family: 'Raleway', sans-serif;
}

.link {
    font-size:small;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

hr {
    margin-top: 15px;
    width: 400px;
    height : 2x;
}

footer {
    background-color: rgba(223, 131, 45, 0.884);
    width: 450px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    
}